*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-flex{
    display: flex;
    
}
.barra-laterale{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: calc(100vh - 70px);
   
}
.img-profilo{
    background-color: gray;
    clip-path: circle(closest-side at center);
}
.barra-laterale img{
    width: 30px;
}
.start{
    padding: 0.5rem;
   
}
.end{
    padding: 0.5rem;
}
.upgrade{
    background-color: rgba(5, 5, 5,0.7);
    opacity: 1;
    height: 100px;
    width: calc(100vw - 50px);
    position:absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   

}
.upgrade button{
    background-color: black;
    color: white;
    border-radius :2rem; 
    border-color: white;
    padding:1rem;
    margin-right: .5rem;
    
}
footer{
    width: 100vw;
    background-color: black;
    height: 70px;
    color: white;
}
.botton-bar img{
    width: 20px;
}
.btn-flex{
    display:flex;
}